In [35]:
import sqlite3
con=sqlite3.connect('database.db')

In [36]:
reviews='Hello World'
cursor.execute('UPDATE review SET status="False" WHERE review="'+str(reviews)+'"')
con.commit()

In [37]:
cursor=con.cursor()

In [54]:
import pandas as pd
pd.read_sql('SELECT * FROM review',con=con)

                        review sentiment   status
0     The movie was just worst  Negative     None
1   The movie was just amazing  Positive     None
2                  Hello World  Positive  skjfhdg
3     The movie was just worst  Negative     None
4      Amazing Movie! Loved it  Positive     None
5   The movie was just amazing  Positive     None
6              Excellent movie  Positive     None
7     The movie was just worst  Negative     None
8                  Hello World  Positive  skjfhdg
9   The movie was just amazing  Positive     None
10                 Great movie  Positive     None

In [55]:
with sqlite3.connect('database.db') as connection:
    cursor=connection.cursor()
    cursor.execute('UPDATE review SET status="True" WHERE review="'+str(reviews)+'"')
    connection.commit()

In [51]:
with sqlite3.connect('database.db') as connection:
    cursor=connection.cursor()
    cursor.execute('''UPDATE review SET status="False" WHERE review=(?)''',(reviews))
    connection.commit()

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 1, and there are 11 supplied.

In [31]:

with sqlite3.connect('database.db') as connection:
    cursor=connection.cursor()
    cursor.execute('UPDATE review SET status="False" WHERE review=?',(str(reviews)))
    connection.commit()

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 1, and there are 11 supplied.